body{ color : rgb(35, 2, 56);
  background-color :rgb(193, 138, 226);
}
h1{ color:rgb(216, 148, 10);
  text-align: center;
}
p{ color:rgb(35, 2, 56);
  text-align: center;

}
div{ display : block;
  border : 2px solid black;

    margin-left: 300px;
  margin-right: 210px;


}
